body {
    font-size: 11px;
    color: #ddd;
	  text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
    font-family: 'Segoe UI', sans-serif; /* Use a fallback font */
    background-image: url('defaultWindowsWallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .footer { 
    font-size: 11px;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
  }
  a {
    color: #ddd;
	  text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
    text-decoration: none;
    background-color: none;
  }
  img {
    border-radius: 4px;
    padding: 5px;
  }
  .outline {
    width: 74px;
  }
  .outline:hover{
    box-shadow: 0 0 2px 1px rgba(80,80,80,0.5);
  }
  .title {
    text-align: center;
  }
